---
layout: homepage
title: Welcome
feature: github
---

<h3>Commentary</h3>

{% include tweets.html %}

<h3>Latest Posts</h3>

{% if site.posts != empty %}
  <ul class="archive">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <p>
    &raquo; <a href="blog/" title="Archived Posts">Archive</a>
  </p>
{% else %}
  <p>The are no previous posts.</p>
{% endif %}

<h3>Recent reading</h3>

{% include delicious.html %}