body {background-color: #069}
body, table, td, th, p {font-family: Arial, Helvetica;}
th {text-align: left;}
h3, p {margin-top: 0;}

a {
  text-decoration: none; 
  font-weight: bold; 
  color: #000000;
}
a:hover {color: #069;}
a.title {color: #000;}

/* Main nav */
table.mainnav {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #69c;
  border-spacing: 0;
}
table.mainnav th {
  padding: 0.2em;
  text-align: center;
}
a.nav {color: #000;}

td.sidebar {
  width: 180px;
  vertical-align: top;
}
td.content {
  vertical-align: top;
}

/* Left hand menus */
table.menu {
  width: 100%;
  margin-bottom: 1em;
  background-color: #000;
  border-spacing: 0;
  border: 2px solid #000;
}
table.menu th {
  padding: 2px;
  background-color: #69c;
  border-bottom: 2px solid #000;
  font-size: 90%;
}
table.menu td {
  padding: 2px;
  background-color: #fff;
}
table.menu td ul {
  margin: 2px;
  margin-left: -1em;
}
table.menu td ul a {
  font-size: 80%;
}

/* Content blocks */
table.block {
  width: 100%;
  margin-bottom: 1em;
  background-color: #000;
  border-spacing: 0;
  border: 2px solid #000;
}
table.block th {
  padding: 2px;
  background-color: #69c;
  border-bottom: 2px solid #000;
}
table.block th h3 {
  margin-bottom: 0;
}
table.block td {
  padding: 6px;
  background-color: #fff;
}

ol.pullout {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #ccc;
}

span.author {
  font-weight: normal;
  font-size: 80%;
}