<div id="ft" class="footer">
  <p class="vcard">
    <strong>metafeather.net</strong> | Copyright &copy;
    <a href="/about/" rel="me" class="url fn n uid">
       <span class="given-name">Liam</span>
       <span class="family-name">Clancy</span>
    </a>
    2012
  </p>
</div>

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-218989-1");
pageTracker._trackPageview();
} catch(err) {}
</script>
<!-- End Google Analytics -->
