<!-- JS feed of projects -->
<div class="github-projects"><!-- placeholder --></div>
<script type="text/javascript" src="/javascripts/github/jquery.github.js"></script>
<script type="text/javascript">
$('.github-projects').loadRepositories(
  'metafeather',
  {},
  {
    includes: [
      'phantomjs-yuitest',
      'phantomjs-jsv',
      'cuzillion',
      'closure-compiler',
      'codeless-language-modules'
    ]
  }
);
</script>
<style type="text/css">
div.github-projects dd {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
</style>
