<div class="hpage">
  <p>Page name: 
    <span class="name">
    {% if page.pagename %}
      {{ page.pagename }}
    {% else %}
      {{ page.title }}
    {% endif %}
    </span>
  </p>
  <p>Type: 
    <span class="type">
    {% if page.type %}
      {{ page.type }}
    {% else %}
      {{ page.layout }}
    {% endif %}
    </span>
  </p>
  {% if page.categories and page.categories != empty %}
  <p>Categories: 
    <span class="category">
    {% for cat in page.categories %}
      {{ cat | cgi_escape }}
    {% endfor %}
    </span>
  </p>
  {% endif %}
</div>

