<!-- JS include recent tweets -->
<div class="tweet"><!-- placeholder --></div>
<script src="/javascripts/tweet/jquery.tweet.js" type="text/javascript"><!-- tweet.js --></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".tweet").tweet({
            username: "metafeather",
            join_text: "auto",
            avatar_size: 0,
            count: 10,
            auto_join_text_default: "I said,",
            auto_join_text_ed: "I",
            auto_join_text_ing: "I was",
            auto_join_text_reply: "I replied to",
            auto_join_text_url: "I was checking out",
            loading_text: "loading tweets..."
        });
    });
</script>
<style type="text/css">
  .tweet ul {
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0;
  }
</style>