{% if page.comments %}

<!-- Disqus comment system 
   ref: http://disqus.com/comments/universal/jshub/
-->

<hr />

<script type="text/javascript">
/*
  Enable/disable development options
  ref: http://wiki.disqus.net/JSEmbed/
*/
if (window.location.href.indexOf('://metafeather.net/') === -1) {
  var disqus_developer = 1 // Integer 0/1
}
</script>

<div id="disqus_thread"></div>

<script type="text/javascript" src="http://disqus.com/forums/metafeather/embed.js"></script>
<noscript><a href="http://metafeather.disqus.com/?url=ref">View the discussion thread.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write(unescape('%3Cscript charset="utf-8" type="text/javascript" src="http://disqus.com/forums/metafeather/get_num_replies.js' + query + '"%3E%3C/' + 'script%3E'));
})();
//]]>
</script>

{% endif %}