        <div class="featured">
          <h3>Projects</h3>
          <a href="http://github.com/metafeather" title="Metafeather on Github">
            <img src="/images/blog/screenshot_projects.png" width="180" />
          </a>

          {% include github_projects.html %}

          <a href="http://jshub.github.io/hPage/" title="hPage specification page">
            <img src="/images/blog/screenshot_hpage.png" width="180" />
          </a>

          <div class="other-projects">
          <dl>
            <dt><a href="http://jshub.github.io/hPage/" title="hPage specification page">hPage</a></dt>
            <dd>Microformat for replacing proprietary javascript web analytics code.</dd>
            <dt><a href="http://github.com/jshub/jshub-core" title="jsHub on Github">jsHub</a></dt>
            <dd>'Universal Tag' like javascript library for analytics data-capture (including build, unit, automated and cross-browser testing methods and code).</dd>
          </dl>
          </div>
          <style type="text/css">
          div.other-projects dd {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
          }
          </style>

        </div>