        <div class="featured">
          <h3>Projects</h3>
          <a href="http://github.com/jshub/jshub-core" title="jsHub Core on Github">
            <img src="/images/blog/screenshot_core.png" width="180" />
          </a>
          
          <h4>jsHub Core</h4>
          <p>
            I'm a founder and developer evangelist for <a href="http://jshub.org/">jshub.org</a> which is sponsored by my employer <a href="http://causata.com/">Causata</a>.
          </p>
          <p>
            jsHub Core is a JavaScript library development application including unit, automated and cross-browser testing methods and code, all freely available under a BSD license. 
          </p>
          <p>
            For more information see the <a href="http://github.com/jshub/jshub-core" title="jsHub Core on Github">project page</a> on Github.
          </p>

          <h4>hPage microformat</h4>
          <p>
            A draft specification for replacing proprietary javascript web analytics code with a safe html based alternative that can be used by website editors. Freely available and in the public domain. 
          </p>
          <p>
            For more information see the <a href="http://jshub.org/hPage/" title="hPage specification page">specification page</a> on jsHub.org.
          </p>        
        </div>