        <div class="featured">
          <h3>Projects</h3>
          <a href="http://jshub.org/hPage/" title="hPage specification page">
            <img src="/images/blog/screenshot_hpage.png" width="180" />
          </a>
          
          <h4>hPage microformat</h4>
          <p>
            A draft specification for replacing proprietary JavaScript code with a safe html based alternative that can be used by website editors. Freely available and in the public domain. 
          </p>
          <p>
            For more information see the <a href="http://jshub.org/hPage/" title="hPage specification page">specification page</a> on jsHub.org.
          </p>
        </div>