        <div class="featured">
          <h3>Featured project</h3>
          <img src="/images/blog/screenshot.png" width="180" />
          
          <h4>Project title</h4>          
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet elit ligula. Quisque non massa lacus, sed pretium justo. Suspendisse eleifend erat quis leo interdum adipiscing ac ac metus. Nunc lacinia metus non nunc pellentesque sollicitudin sed et sapien. 
          </p>
          <p>
            Etiam feugiat tortor ac urna interdum blandit.
          </p>
        </div>