    <!-- Run Core Run status
      ref: http://abedra.github.com/2009/06/05/getting-rcr-status-for-a-specific-project.html
    -->
    <style type="text/css">
      p.status span.time {
        color: #aaa;
      }
      p.status span.success {
        color: green;
      }
      p.status span.failure {
        color: red;
      }
    </style>
    <script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/pretty.js"></script>	
    <script type="text/javascript" charset="utf-8">
      function generateStatus(project) {
        if(project.status == "success") {
          return '<span class="success"> succeeded <\/span><span class="time">' + prettyDate(project.ended_at) + ' <a href="' + project.url + '"> details <\/a><\/span>';
        } else {
          return '<span class="failure"> failed <\/span> <span class="time">' + prettyDate(project.ended_at) + ' <a href="' + project.url + '"> details <\/a> <\/span>';
        }
      }
    
      function parseData(data) {
        var core = data.user.projects[0];
        $("#jshub-core-status").append(generateStatus(core));
      }
      
      // make sure everything is loaded
      $(document).ready(function (data) {
        $.getScript("http://runcoderun.com/api/v1/json/metafeather?callback=parseData")
      });
    </script>
