<h3>Search</h3>

<!-- Google Custom Search Element -->
<div id="cse" style="width:100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load('search', '1');
  google.setOnLoadCallback(function(){
    new google.search.CustomSearchControl('012307370960832682920:rbggs--jtp4').draw('cse');
  }, true);
</script>
<noscript>
  <a href="http://www.google.com/cse/home?cx=012307370960832682920:rbggs--jtp4">Search metafeather.net</a>
</noscript>
    