/* IE < 8  doesnt support 'inherit' for color on links */
#sitenav :link, #sitenav :visited {
  color: #000;
}
#sitenav .active :link, #sitenav .active :visited {
  color: #000;
}
#metanav a, #metanav :link, #metanav :visited {
  color: #000;
}
#mainnav :link, #mainnav :visited {
  color: #fff;
}
#mainnav .active :link, #mainnav .active :visited {
  color: #fff;
}
#ctxtnav li :link, #ctxtnav li :visited { 
  color: #797979;
}
