body.blog  div.page {
  width: 784px;
  min-width: 784px;
  padding-right: 16px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

body.blog div.page div.yui-main {
  margin-top: 0;
}